body{
    background-image: url('checkers.png');
    background-size: cover;
    
    margin: 20px;
}

.digitos {
    width: 50px;
    height: 25px;
    font-weight: bolder;
}
.disponiveis{
    border-radius:40px;
    width: 40px;
    height: 40px;
    display:inline-block;
    background-color: black;
    margin: 2px;
    border: solid black 1px;
    /* display: flex;
    flex-direction: row; */

}
.cor{
    border-radius:50px;
    width: 40px;
    height: 40px;
    display:inline-block;
    background-color: white;
    border: solid 1px black;
    margin: 2px;
}
.arquivo{
    border-radius:50px;
    width: 40px;
    height: 40px;
    display:inline-block;
    background-color: white;
    border: solid 1px black;
    margin: 2px;
}
#arquivo{
    margin-left: 15px
}
#senhaDefinida{
    margin: 3px;
    font-weight: bold;
}
.feedback{
    display: inline-block;
    margin: 10px;
    text-align: center;
    vertical-align: middle;
    position: absolute;
}
.black{
    border-radius:15px;
    width: 15px;
    height: 15px;
    display:inline-block;
    background-color:black;
    border: solid 1px black;
    margin: 1px;
}
.white{
    border-radius:15px;
    width: 15px;
    height: 15px;
    display:inline-block;
    background-color: white;
    border: solid 1px black;
    margin: 1px;
}
.contador{
    display:inline-block;
    font-size: 12px;
    margin:5px;
    vertical-align: text-top;
}

.bloco{
    border: 2px solid black;
    background-color: white;
    width: 325px;
    height: fit-content;
    padding: 2px;
    /* display: flex;
    flex-direction: column; */
}
h2{
    text-decoration: underline;
}
#criarTentativa{
    background-color: cornflowerblue;
    font-size: 20px;
    border-bottom: black 2px solid;
}
#fundo{
    background-image: url('fundo.jpg');
    background-size: cover;
    border-radius: 20px;
    width: fit-content;
    height: fit-content;
    padding:1px 100px 40px 40px;
    /* padding-top: 5px;
    padding-right: 100px ;   */
}
.tentativa{
    border: 2px solid black;
    font-weight: bold;
    background-color: whitesmoke;
}
button{
    align: right;
}

.regras {
    border: solid black 2px;
    display: flex;
    wrap: wrap;
    width: 230px;
    margin-left: 20px;
    background-color: whitesmoke;
    font-weight: 600;
    padding: 5px;
    text-align: justify;
}

.cabecalho {
    display: flex;
    con
}